
<div class="container mt-5">
  <nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a class="navbar-brand" href="/users/profile" >Profile</a>
    <div style="margin-right: 20%;">
      <a href="/articles/me/stories"><button type="button" class="btn btn-outline-secondary">Your stories</button></a>
      <a href="/manage/compose"><button type="button" class="btn btn-outline-success">Write a story</button></a>
    </div>
  </nav>
</div>

<form>
  <div class="container-sm mt-5 mb-5 form">
    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Firstname</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="<%= firstname %>" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Lastname</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="<%= lastname %>" readonly>
      </div>
    </div>

    <div class="form-group row">
      <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="<%= email %>" readonly>
      </div>
    </div>

  </div>


</form>