
<!-- <% posts.forEach(function(post) { %> -->
    <div class="container-fluid blog-post">
    <!-- <h1 class="blg-tle" style="text-align: center;"><%= post.title %></h1>
    <p class="info" style="color: grey; font-style: italic; text-align: center;"><%= post.date %> || Posted by <%= post.name  %>  </p> -->
    <p class="info" style="color: grey; font-style: italic; text-align: center;">Big Time error Here: Kindly check your Internet</p>
    <hr>
    <!-- <p class="blg-cnt"><%= post.content%></p> -->
    </div>
<!-- <%})%> -->
